body{
  margin: 0;
  padding: 0;
  /*font-family: 'Brush Script MT', cursive;*/
  font-size: 25px;
  background-color: black;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/*.random{
  position: absolute;
  width: 100px;
  height: 100px;
}*/
#BalloonBurster{
  position: relative;
  /*margin: 0 auto;*/
  width:100rem;
  height:100rem;
  display: flex;
  overflow: hidden;
  /*display:nonea;*/
  flex-direction: row;
  /*flex-wrap: wrap;  */
  /*justify-content: center;*/
}
.bonus{
  position: absolute;
  width: 100px;
  height: 100px;
}
.bomb{
  position: absolute;
  width: 100px;
  height: 100px;
}
#balloonwindow{
  margin: 0;
  width: 100rem;
  height: 100rem;
  background-color: black;
  overflow: hidden;
}
.balloon{
  position: absolute;
  width: 100px;
  height: 100px;
  /*background-color :black;*/
  /*transform: rotate(45deg);*/
}

/*.balloon:before {
  position: absolute;
  bottom: 0px;
  left: -50px;
  width: 100px;
  height: 100px;
  content: '';
  border-radius: 50%;
  background-color:inherit;
}
.balloon:after{
  position: absolute;
  top: -50px;
  right: 0px;
  width: 100px;
  height: 100px;
  content: '';
  border-radius: 50%;
  background-color: inherit;
}*/
.heart{
  position: absolute;
  width: 100px;
  height: 100px;
}

.bird {
  width: 100px;
  height: 100px;
  position: absolute;
}

#Game-info{
  font-family: 'Arima Madurai', cursive;
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 2rem;
  color: white;
}
.inf{
  color: black;
  width: 13rem;
  margin : 20px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  border-radius: 10% 10% 10% 10%;
}
#Pointsdiv{
  color: black;
  width: 13rem;
  margin : 20px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color: #4B878BFF;
  border-radius: 10% 10% 10% 10%;
}
#difficulty{
  color: black;
  width: 13rem;
  margin : 5px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color:#CBCE91FF;
  border-radius: 10% 10% 10% 10%;
}
select{
  padding-top: 5px;
  margin-top: 0;
  padding-bottom: 5px;
  font-size: 15px;
  text-align: center;
  width: 7rem;
  border:0px;
  outline:0px;
}
#type select{
  background-color: #5B84B1FF;
}
#difficulty select{
  background-color:#CBCE91FF;
}
#speedsetter select{
  background-color:#42EADDFF;
}
input{
  padding-top: 5px;
  margin-top: 0;
  padding-bottom: 5px;
  font-size: 15px;
  text-align: center;
  width: 6.5rem;
}
#num{
  padding-top: 10px;
  margin-top: 0;
  justify-content: center;
  font-size: 15px;
  background-color: red;
}
#start{
  width: 14rem;
  text-align: center;
  background-color: grey;
  margin : 10px 20px 10px 34px;
  padding: 20px;
  font-size: 20px;
  border-radius: 50% 50% 50% 50%;
  /*background-color: red;*/
}
#end{
  width: 14rem;
  text-align: center;
  background-color: grey;
  margin : 10px 20px 10px 34px;
  padding: 20px;
  font-size: 20px;
  border-radius: 50% 50% 50% 50%;
  /*background-color: red;*/
}
#stop{
  width: 14rem;
  text-align: center;
  background-color: grey;
  /*margin-left: 10px;*/
  padding: 20px;
  font-size: 20px;
  margin : 10px 20px 10px 34px;
  border-radius: 50% 50% 50% 50%;
  /*background-color: red;*/
}
#time{
  color: black;
  width: 13rem;
  margin : 5px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  background-color: #B1624EFF;
  text-align: center;
  border-radius: 10% 10% 10% 10%;
}
#time input{
  background-color: #B1624EFF;
}
#life{
  color: black;
  width: 13rem;
  margin : 5px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color: #5F4B8BFF;
  border-radius: 10% 10% 10% 10%;
}
#life input{
  background-color: #5F4B8BFF;
}

#type{
  color: black;
  width: 13rem;
  margin : 5px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  background-color: #5B84B1FF;
  text-align: center;
  border-radius: 10% 10% 10% 10%;
}
#speedsetter{
  color: black;
  width: 13rem;
  margin : 5px 20px 5px 30px;
  padding: 5px 10px 5px 10px;
  text-align: center;
  background-color:#42EADDFF;
  border-radius: 10% 10% 10% 10%;
}

